@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");

/* colors */
:root {
    --background: #2f3136;
    --text: white;
    --text-grey: #96989d;

    --button-background-primary: #5865f2;
    --button-background-primary-hover: #4752c4;

    --button-background-secondary: #36393f;
    --button-background-secondary-hover: #2f3136;
    --button-text: white;
    --button-background-disabled: #72767d;

    --modal-background: rgba(0, 0, 0, 0.6);
    --modal-content-background: #191919;
    --form-input-background: #40444b;
    --select-background: #40444b;

    --user-panel-background: #191919;

    --game-racetrack-background: #191919;
    --game-paragraph-background: #191919;
    --game-input-background: #191919;
}

/* general */
* {
    font-family: "Overpass", sans-serif;
    color: var(--text);
    box-sizing: border-box;
}
body {
    min-width: 600px;
    min-height: 300px;
    height: 100vh;
    padding: 0;
    margin: 0;
    background: var(--background);
}
.center {
    text-align: center;
}

/* flex stuff */
.row,
.col {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}
.col {
    flex-direction: column;
}
.no-gutters {
    gap: 0;
    padding: 0;
}
.spacer-0 {
    width: 0;
    height: 0;
}
.spacer-1 {
    width: 5px;
    height: 5px;
}
.spacer-2 {
    width: 10px;
    height: 10px;
}
.spacer-grow {
    flex-grow: 1;
}

/* modal */
.modal {
    background: var(--modal-background);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.modal-content {
    background: var(--modal-content-background);
    margin: 15% auto;
    overflow: auto;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    height: 70%;
}

/* form */
input {
    background: var(--form-input-background);
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input:focus {
    outline: none;
}
select {
    background: var(--select-background);
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    width: 100%;
}
#register-carid-display {
    background-image: url("img/car1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 50%;
    width: 50px;
    height: 50px;
}

/* buttons */
button {
    background: var(--button-background-primary);
    border: none;
    border-radius: 5px;
    color: var(--button-text);
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
button:disabled {
    background: var(--button-background-disabled);
}
.button-primary {
    background: var(--button-background-primary);
}
.button-primary:hover:enabled {
    background: var(--button-background-primary-hover);
}
.button-secondary {
    background: var(--button-background-secondary);
}
.button-secondary:hover:enabled {
    background: var(--button-background-secondary-hover);
}
#user-panel {
    background: var(--user-panel-background);
}

/* game page */
#game-container {
    width: 70%;
}
#game-racetrack-container {
    flex-direction: column;
    display: flex;
    background: var(--game-racetrack-background);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0px;
    height: 200px;
    width: 100%;
}
.game-racetrack {
    display: flex;
    align-items: left;
    border-bottom: 1px white dashed;
    width: 100%;
    height: 50px;
}
#game-racetrack-bottom {
    border: none;
}
.game-car {
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 50%;
    width: 50px;
    height: 50px;
}
.game-flexbox {
    width: 10%;
    height: 100%;
    padding: 5px;
    margin-right: 5px;
    justify-content: right;
    text-align: right;
}
.game-userdata {
    font-size: small;
}
#game-finishline {
    background-image: url("img/finishline.png");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    width: 5px;
    height: 200px;
}
#game-racetrack-end-container {
    width: 15%;
}
.game-userrank {
    display: flex;
    align-items: center;
    border: 1px white solid;
    padding: 5px;
    width: 100%;
    height: 50px;
}
#game-paragraph {
    background: var(--game-paragraph-background);
    width: 100%;
    min-height: 100px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}
#game-input {
    background: var(--game-input-background);
    width: 100%;
    outline: none;
    resize: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 10px;
}

/*stats*/
#stats-main-container {
    width: 80%;
    height: 100%;
}
#stats-info-container {
    width: 100%;
    height: 100%;
}
#stats-wpm-chart-container {
    width: 70%;
    height: 100%;
}
#stats-wpm-chart {
    width: 100%;
    height: 100%;
}
#stats-paragraph-container {
    background: black;
    width: 70%;
    min-height: 100px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    font-size: 14px;
}
#stats-author {
    width: 100%;
    text-align: right;
    font-size: 14px;
}
